<html layout:decorate="~{layout/layout}">

<head>
<title>Kategorien</title>
</head>

<body layout:fragment="content">
	<h2 class="my-4 mr-4">Kategorien</h2>

	<div class="card w-80 my-2">
		<div class="card-body">
			<div class="pb-2 border-bottom">
				<h3 class="card-title">Neue Oberkategorie erstellen:</h3>
			</div>
			<form method="POST" th:action="@{/kategorien}"
				th:object="${kategorie}">
				<div class="row pt-2">
					<div class="col">
						<input type="text" class="form-control" id="titel"
							th:field="*{name}" th:errorclass="is-invalid" placeholder="Name"
							maxlength="255">
						<div class="invalid-feedback" th:errors="*{name}"></div>
					</div>
					<div class="col-2">
						<button type="submit" class="btn btn-primary">
							<i class="fas fa-save"></i> <span class="ml-1">Speichern</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div th:if="${unterKategorie}" class="card w-80 my-2">
		<div class="card-body">
			<div class="pb-2 border-bottom">
				<h3 class="card-title">
					Neue Unterkategorie erstellen für <span
						th:text="${unterKategorie.oberKategorieName}"></span>:
				</h3>
			</div>
			<form method="POST"
				th:action="@{'/kategorien/' + ${unterKategorie.oberKategorieId} + '/add'}"
				th:object="${unterKategorie}">
				<div class="row pt-2">
					<input type="hidden" th:field="*{oberKategorieId}">
					<div class="col">
						<input type="text" class="form-control" id="titel"
							th:field="*{name}" th:errorclass="is-invalid" placeholder="Name"
							maxlength="255">
						<div class="invalid-feedback" th:errors="*{name}"></div>
					</div>
					<div class="col-2">
						<button type="submit" class="btn btn-primary">
							<i class="fas fa-save"></i> <span class="ml-1">Speichern</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="card w-80 my-2" th:if="${#lists.isEmpty(kategorien)}">
		<div class="card-body text-center text-muted">Hmm ganz schön
			leer hier</div>
	</div>

	<div class="card w-80 my-2" th:unless="${#lists.isEmpty(kategorien)}"
		th:each="oberkategorie : ${kategorien}">
		<div class="card-body row align-items-center">
			<div class="col-10" th:text="${oberkategorie.name}"></div>
			<div class="col-2 text-right">
				<a th:href="@{'/kategorien/' + ${oberkategorie.id} + '/add'}"
					class="btn btn-primary"> <i class="fas fa-plus"></i>
				</a> <a th:href="@{'/kategorien/' + ${oberkategorie.id} + '/delete'}"
					class="btn btn-danger ml-2"> <i class="far fa-trash-alt"></i>
				</a>
			</div>
			<div
				th:replace="kategorien/kategorien_liste_fragment::fragment_kategorie(${oberkategorie})"></div>
		</div>
	</div>

</body>
</html>