target/
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

## npm Quatsch ##
**/npm/node_modules
**/npm/node
**/npm/dist

src/main/resources/static/generated/js
src/main/resources/static/generated/webfonts

# Das CSS aus dem SCSS-Transpiler wird mit eingecheckt, da es für die Entwickler
# lange dauern würde, dies jedes Mal selbst zu tun.
# Daher gibt es diese Zeile nicht:
#  src/main/resources/static/generated/css/
# Diese aber schon, weil das recht fix von webpack generiert wird:
src/main/resources/static/generated/css/all.min.css

# h2 database
db/

