<!DOCTYPE html>
<html lang="de">
<head>
<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<base th:href="@{/}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="generated/css/style.css">
<link rel="stylesheet" href="generated/css/all.min.css">

<!--  Each token will be replaced by their respective titles in the resulting page. -->
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">BikeHH</title>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<!-- Navbar -->
			<div th:replace="layout/navbar :: navbar"></div>
			<!--<div th:replace="layout/notificationbar :: notificationbar"></div>-->

			<!-- Content -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-4">
				<div layout:fragment="content"></div>
			</main>
		</div>
	</div>

	<!-- Footer -->
	<div class="container d-flex justify-content-center op-50 py-3 mt-auto">
		<small>BikeHH - Universität Hamburg Praktikum SoSe 2020</small>
	</div>

	<script src="generated/js/bundle.js"></script>
</body>
</html>
