<!DOCTYPE html>
<html lang="de">
<body>
	<nav th:fragment="navbar"
		class="container navbar navbar-expand-md navbar-dark py-md-0 h-md-55px">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse h-100" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto h-100">
				<li class="nav-item py-md-2 mx-md-2"
					th:classappend="${#request.getServletPath().startsWith('/welcome') ? 'active-nav-border font-weight-bold' : ''}">
				<a class="nav-link text-secondary px-0 py-md-2"
					th:href="@{/welcome}" sec:authorize-url="/welcome"> <i
						class="fas fa-stopwatch"></i> Willkommen
				</a></li>
			</ul>
			<ul class="navbar-nav h-100" sec:authorize="isAuthenticated()">
<!-- Desktop -->
				<li class="nav-item dropdown d-none d-md-block py-md-2">
					<a class="nav-link text-secondary dropdown-toggle py-md-2" href="#" id="navbarDropdownMenuLink" 
					role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 					<i class="fas fa-user-circle"></i> Benutzer
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
			          <a class="dropdown-item" th:href="@{/userprofile/}"><i class="fas fa-id-card fa-fw"></i> Benutzerprofil</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
			        </div>
				</li>
<!-- Mobile -->
				<li class="nav-item d-md-none"
				th:classappend="${#request.getServletPath().startsWith('/userprofile') ? 'active-nav-border font-weight-bold' : ''}">
					<a class="nav-link text-secondary dropdown-item px-0" th:href="@{/userprofile/}"><i class="fas fa-id-card"></i> Benutzerprofil</a>
				</li>
				<li class="nav-item d-md-none">
					<a class="nav-link text-secondary dropdown-item px-0" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a>
				</li>
			</ul>
		</div>
	</nav>
</body>
</html>