<!DOCTYPE html>
<html lang="de">

<body>
	<nav th:fragment="navbar" id="sidebarMenu"
		class="col-md-3 col-lg-2 bg-primary sidebar">
		<div class="sidebar-sticky">
			<div class="text-center mb-4">
				<img src="../static/img/logo.png" th:src="@{img/logo.png}"
					class="img-fluid" />

				<h3>Bicyclist Admin</h3>
				<hr class="my-4">
			</div>
			<div sec:authorize="isAuthenticated()">
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="/uebersicht"
						th:classappend="${#request.getServletPath().startsWith('/uebersicht') ? 'active' : ''}">
							<span><i class="fas fa-chart-line"></i></span> Übersicht <span
							class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/umfragen"
						th:classappend="${#request.getServletPath().startsWith('/umfragen') ? 'active' : ''}">
							<span><i class="fas fa-file-alt"></i></span> Umfragen
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/meldungen"
						th:classappend="${#request.getServletPath().startsWith('/meldungen') ? 'active' : ''}">
							<span><i class="fas fa-map-marker-alt"></i></span> Meldungen
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/map"
						th:classappend="${#request.getServletPath().startsWith('/map') ? 'active' : ''}">
							<span><i class="fas fa-map-marked-alt"></i></span> Karte
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/umfrage-erstellen"
						th:classappend="${#request.getServletPath().startsWith('/umfrage-erstellen') ? 'active' : ''}">
							<span><i class="fas fa-folder-plus"></i></span> Umfrage erstellen
					</a></li>
				</ul>

			</div>
			<div sec:authorize="isAuthenticated()">
				<hr class="my-4">
				<ul class="nav flex-column mb-2">
					<li class="nav-item">
						<span class="py-2 px-3"><i
								class="fas fa-user-circle"></i> <span
							th:text="${user.emailAddress}"></span></span>
					</li>
					<li class="nav-item">
						<form>
							<a class="nav-link" href="/logout"> <span><i
									class="fas fa-sign-out-alt"></i></span> <span>Ausloggen</span>
							</a>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>