<html layout:decorate="~{layout/layout}" xmlns:th="http://thymeleaf.org">

<head>
  <title>ADFC - Umfrage erstellen</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

</head>
<body layout:fragment="content">
  <div id="erstelleUmfrageApp">
    <h2 id="headline" class="my-4">
      <span v-if="!editierModus">Umfrage erstellen</span>
      <span v-else>Umfrage bearbeiten</span>
    </h2>
    <div class="mb-4" id="mapid" style="width: calc(90vw - 10rem); height: 30vh;"></div>
    <!-- Alert für Erfolg beim Erstellen -->
    <div v-if="zeigeErfolgBenachrichtigung" class="alert alert-success" role="alert">
      <div class="d-flex align-items-center">
        <div>Umfrage erfolgreich erstellt!</div>
        <a class="btn btn-link ml-2" :href="'/umfragen/' + id">Anzeigen</a>
        <button class="btn ml-auto" @click="zeigeErfolgBenachrichtigung=false"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <!-- Alert bei Fehlern -->
    <div v-if="formatierungsFehler" class="alert alert-danger" role="alert">
      {{ formatierungsFehler }}
    </div>

    <div class="card">
      <div class="card-body">
        <form @submit="postUmfrage">
          <div class="row">
            <div class="col border-right">
              <!-- common infos -->
              <div class="form-group">
                <label>Titel</label>
                <input class="form-control" v-model="titel" placeholder="Titel"></input>
              </div>
              <!-- Zeitfenster -->
              <div class="form-group">
                <label>Zeitfenster</label>
                <input type="date" class="form-control mb-2" placeholder="From" v-model="startDatum">
                <input type="date" class="form-control mb-2" placeholder="To" v-model="endDatum">
              </div>
              <!-- Anzahl an Bestätigungen -->
              <div class="form-group">
                <label>Anzahl an Bestätigungen benötigt:</label>
                <input type="number" class="form-control" :placeholder="bestaetigtSchwellenwert"
                  v-model="bestaetigtSchwellenwert">
              </div>

              <div class="form-group">
                <!-- kategorie -->
                <label>Kategorie</label>

                <!-- TODO: write component that can be used recursively -->
                <div v-if="!benutzerdefinierteKategorie">
                  <select class="custom-select mb-2" v-model="kategorie1">
                    <option selected>Kategorie 1</option>
                    <option v-for="option in kategorieOptionen" :value="option">{{ option.text }}</option>
                  </select>

                  <select class="custom-select mb-2" v-if="kategorie1 && kategorie1.unteroptionen" v-model="kategorie2">
                    <option selected>Kategorie 2</option>
                    <option v-for="option in kategorie1.unteroptionen" :value="option">{{ option.text }}</option>
                  </select>

                  <select class="custom-select mb-2" v-if="kategorie2 && kategorie2.unteroptionen" v-model="kategorie3">
                    <option selected>Kategorie 3</option>
                    <option v-for="option in kategorie2.unteroptionen" :value="option">{{ option.text }}</option>
                  </select>
                </div>
                <!-- benutzerdefinierte Kategorie checkbox -->
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" v-model="benutzerdefinierteKategorie" id="benutzerdefinierteKategorieCheckbox">
                  <label class="form-check-label" for="benutzerdefinierteKategorieCheckbox">
                    Benutzerdefinierte Kategorie
                  </label>
                </div>
                <input class="form-control" v-if="benutzerdefinierteKategorie" v-model="benutzerdefinierteKategorieText" placeholder="Kategorie">
              </div>
              <!-- Fahrtrichtung für die gesamte Umfrage checkbox -->
              <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" v-model="fahrtrichtung" @click="setzeFahrtrichtung()" id="fahrtrichtungCheckbox">
                  <label class="form-check-label" for="fahrtrichtungCheckbox">
                    Fahrtrichtung
                  </label>
                </div>

            </div>

            <div class="col">
              <!-- for Schleife über alle Fragen -->
              <div v-for="(frage, index) in fragen">
                <pre>{{ frage }}</pre>

                <!-- toogle <hr> after first frage -->
                <div v-if="index > 0">
                  <hr>
                </div>

                <div class="form-group">
                  <label>Frage #{{ index + 1 }}</label>
                  <input class="form-control" v-model="frage.titel" placeholder="Frage"></input>
                </div>
                <!-- erlaube Freitext antwort checkbox -->
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="frage.erlaubeBenutzerdefinierteAntwort"
                      id="erlaubeBenutzerdefinierteAntwortCheckbox">
                      <label class="form-check-label">
                      Erlaube Freitext-Antwort
                    </label>
                  </div>
                </div>
                <!-- division für den Antortmoeglichkeiten Abschnitt -->
                <div class="form-group">
                  <label>Antwortmöglichkeiten</label>
                  <div v-for="antwortMoeglichkeit in frage.antwortMoeglichkeiten" class="d-flex justify-space-between mb-4">
                    <input class="form-control" v-model="antwortMoeglichkeit.text">
                    <button type="button" class="btn text-danger ml-3" @click="entferneAntwort(frage, antwortMoeglichkeit)">
                      <span><i class="far fa-trash-alt"></i></span>
                    </button>
                  </div>
                  <div class="button-group">
                    <!-- fuege antwortmoeglichkeit hinzu knopf -->
                    <button type="button" class="btn btn-primary mb-3" @click="fuegeAntwortMoeglichkeitHinzu(frage)"><i
                        class="fas fa-plus"></i></button>
                  </div>

                </div>
                <!-- division für eine bedingung -->
                <div class="list-group mb-3">
                  <div class="list-group-item" v-for="(bedingung, index) in frage.bedingungen">
                    <div class="d-flex justify-space-between">
                      <div class="form-group mb-0">
                        <label :for="'bedingung-frage' + index">Bedingung: Frage nur zeigen wenn:</label>
                        <select :id="'bedingung-frage' + index" v-model="bedingung.frage">
                          <option default disabled>-</option>
                          <option v-for="frage in fragen" :value="frage">{{ frage.titel }}</option>
                        </select>
                        <label for="'bedingung-antwortMoeglichkeit' + index">mit:</label>
                        <select id="'bedingung-antwortMoeglichkeit' + index" v-if="bedingung.frage"
                          v-model="bedingung.erwarteteAntwort">
                          <option v-for="antwortMoeglichkeit in bedingung.frage.antwortMoeglichkeiten" :value="antwortMoeglichkeit">{{ antwortMoeglichkeit.text }}
                          </option>
                        </select>
                        <label>beantwortet wurde.</label>
                      </div>
                      <div>
                        <!-- bedingung löschen Knopf -->
                        <button type="button" class="btn text-danger ml-3"
                          @click="entferneBedingung(frage, bedingung)">
                          <span><i class="far fa-trash-alt"></i></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="button-group">
                  <!-- bedingung hinzufuegen Knopf -->
                  <button type="button" class="btn btn-primary mb-3" @click="fuegeBedingungHinzu(frage)">Bedingung
                    hinzufügen</button>
                  <!-- Ort hinzufuegen Knopf -->
                  <button type="button" class="btn btn-primary mb-3" @click="fuegeOrtHinzu(frage)"
                    v-if="!frage.marker">Ort
                    hinzufügen</button>
                    <!-- Ort löschen Knopf -->
                  <button type="button" class="btn btn-danger mb-3" @click="entferneOrt(frage)"
                    v-if="frage.marker">Ort löschen</button>
                  <!-- Frage löschen Knopf -->
                  <button type="button" class="btn btn-danger mb-3" @click="entferneFrage(frage)">Frage
                    löschen</button>
                </div>
                <!-- Fahrtrichtung für spezielle Frage ja/nein checkbox -->
                <div v-if="frage.marker"class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" @click="setzeFahrtrichtung(frage)">
                      <label class="form-check-label">
                      Fahrtrichtung
                    </label>
                  </div>
                </div>

              </div>

              <hr>

              <div class="form-group">
                <!-- Frage Hinzufügen Knopf -->
                <button type="button" class="btn btn-primary mb-3" @click="fuegeFrageHinzu">Frage hinzufügen</button>
              </div>

            </div>
          </div>

          <!-- umfrage erstellen Knopf -->
          <div class="form-group">
            <button type="submit" id="submitButton" class="btn btn-primary">
              <span v-if="!editierModus">Umfrage erstellen</span>
              <span v-else>Umfrage bearbeiten</span>
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var laengengrad = [[${ laengengrad }?${laengengrad}:0]]
    var breitengrad = [[${ breitengrad }?${breitengrad}:0]]

    var umfrage = [(${umfrage}?${umfrage}:'null')]
    var ersteller = [(${benutzer}?${benutzer}:'null')]
  </script>

</body>

</html>