<html layout:decorate="~{layout/layout}">
<head>
<title>Willkommen</title>
</head>
<body layout:fragment="content">

	<p>
		Welcome <span th:text="${user.emailAddress}"></span>
	</p>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Marke</th>
				<th scope="col">Name</th>
				<th scope="col">Füllmenge</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bier : ${biere}">
				<td th:text="${bier.marke}"></td>
				<td th:text="${bier.name}"></td>
				<td th:text="${bier.fuellmenge}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>
