<html layout:decorate="~{layout/layout}">

<head>
  <title th:text="${'Umfrage #' + umfrage.id}"></title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin="" type="text/javascript"></script>

  <script src="http://bbecquet.github.io/Leaflet.PolylineDecorator/dist/leaflet.polylineDecorator.js"
    type="text/javascript"></script>
</head>

<body layout:fragment="content">
  <!-- zurück-Pfeil -->
  <a href="/umfragen" class="btn btn-link"><i class="fas fa-arrow-left mr-1"></i>Umfragen</a>
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-lg-9">
          <h4 class="card-title" th:text="${'Umfrage #' + umfrage.id}">
          </h4>
          <h6 class="card-subtitle mb-2 text-muted" th:text="${'Erstellt am: ' + umfrage.erstelltAmDatum}"></h6>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" th:text="${'Kategorie: ' + umfrage.kategorie.name}"></li>
            </ol>
          </nav>
          <!-- Ort, safly unwraps hausnummer -->
          <div>
            <h6 class="mb-2 text-muted">Ort: <span class="badge badge-secondary"
                th:text="${umfrage.adresse.hausnummer!=null}?${umfrage.adresse.strasse + ' ' + umfrage.adresse.hausnummer + ', ' + umfrage.adresse.postleitZahl + ', ' + umfrage.adresse.stadt}:${umfrage.adresse.strasse + ', ' + umfrage.adresse.postleitZahl + ', ' + umfrage.adresse.stadt}"></span>
            </h6>
          </div>
          <!-- Ersteller -->
          <div>
            <h6 class="mb-2 text-muted">Ersteller: <span class="badge badge-secondary"
                th:text="${umfrage.ersteller.emailAddress}"></span></h6>
          </div>
          <!-- Liste von Bestätigungen -->
          <div>
            <h6 class="mb-2 text-muted">
              <span>Bestätigt von:</span>
              <span th:if="${#lists.size(umfrage.bestaetigtVonUsern) > 0}"class="badge badge-primary mr-2" th:each="benutzer : ${umfrage.bestaetigtVonUsern}">
                <span th:text="${benutzer.emailAddress}"></span>
              </span>
              <span th:if="${#lists.size(umfrage.bestaetigtVonUsern) == 0}"class="badge badge-primary mr-2">keine Bestätigungen</span>
            </h6>
          </div>
          <div>
          <!-- Bestätigungspunkte -->
          <h6 class="mb-2 text-muted">Bestätigungspunkte: <span class="badge badge-secondary" th:text="${#lists.size(umfrage.bestaetigtVonUsern) + '/' + umfrage.bestaetigtSchwellenwert}"></span></h6>
          </div>
          <div>
            <!-- Status der Umfrage -->
            <h6 class="mb-2 text-muted">Status: <span class="badge badge-secondary" th:text="${umfrage.umfrageDisabled} ? 'deaktiviert' : 'aktiviert'"></span></h6>
            </div>

          <p class="card-text mb-4" th:text="${umfrage.titel}"></p>
        </div>
        <div class="col-md-12 col-lg-3">
          <!-- Umfrage bearbeiten knopf, direkte weiterleitung zu /umfrageerstellen/bearbeiten?umfrageId=<ID_DER_UMFRAGE> -->
          <a class="btn btn-block btn-outline-primary mb-2" th:href="@{/umfrage-erstellen/bearbeiten?umfrageId={id}(id=${umfrage.id})}">Umfrage bearbeiten</a>
          <button class="btn btn-block btn-outline-primary mb-2" onClick="zeigAufKarte()" id="buttonZeigAufKarte" >Zeige auf Karte</button>
          <button class="btn btn-block btn-outline-primary mb-2" th:data-creator="${umfrage.ersteller}" onclick="kontaktiereErsteller(this.dataset.creator)" id="buttonKontaktiereErsteller">Kontaktiere Ersteller</button>
          <button class="btn btn-block btn-outline-success mb-2">Bestätigen</button>
          <button class="btn btn-block btn-outline-danger mb-2" th:onclick="'oeffneDialog(\' ' + ${umfrage.id} + '\');'" id="buttonLoescheUmfrage">Umfrage löschen</button>

          <!-- Button zum Aktivieren oder Deaktivieren der Umfrage anzeigen -->
          <span th:if="${umfrage.umfrageDisabled}">
            <button class="btn btn-block btn-outline-primary mb-2" th:onclick="'oeffneDialogDisablen(\' ' + ${umfrage.id} + '\');'" id="buttonDisableEnableUmfrage" th:text="${umfrage.umfrageDisabled} ? 'Umfrage aktivieren' : 'Umfrage deaktivieren'"/></button>
          </span>
          <span th:unless="${umfrage.umfrageDisabled}">
            <button class="btn btn-block btn-outline-danger mb-2" th:onclick="'oeffneDialogDisablen(\' ' + ${umfrage.id} + '\');'" id="buttonDisableEnableUmfrage" th:text="${umfrage.umfrageDisabled} ? 'Umfrage aktivieren' : 'Umfrage deaktivieren'"/></button>
          </span>
        </div>
      </div>

      <hr class="my-4">
      <!-- rechter Teil neben Karte in Tabelle, zeigt Fragen, Antwortmoeglichkeiten und Meldungsergebnisse (TODO) -->
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div id="mapid" class="mb-4" style="height: 350px;"></div>
        </div>
        <div class="col-md-12 col-lg-6">
          <h6>Fragen</h6>
          <div th:each="frage : ${umfrage.fragen}">
           <div th:text="${frage.titel}"></div>
           <ul>

            <li th:if="${frage.erlaubeBenutzerdefinierteAntwort}">[Freitextantwort]</li>
            <div th:each="antwortMoeglichkeit : ${frage.antwortMoeglichkeiten}">
             <li th:text="${antwortMoeglichkeit.text}"></li>
           </div>
         </ul>
       </div>
       <!-- kommender Abschnitt zeigt die Meldung, aus der die Umfrage generiert wurde.
        Gibt es nur, wenn Umfrage automatisch generiert wurde -->
       <span th:if="${!umfrage.manuellErstellt}">
         <h6>Umfrage wurde automatisch aus folgender Meldung generiert</h6>
         <div class="border p-4">
          <div class="row">
            <div class="col-9">
              <a href="#"><strong>User #1234</strong></a>
              <p>Die Autos rasen über den Radfahrstreifen. Ein wahnsinnger Rader hat mich eben fast umgenietet!!! Bitte sofort anzeigen Kenzeichen KI-LL 666"Hintergrund: Veloroute 3, die Fahrradstrasse "Uferstrasse"</p>
            </div>
          </div>
        </span>
        <h6>Meldungsergebnisse</h6>
        <img class="img-responsive" src="https://via.placeholder.com/300x200">
      </div>
    </div>
  </div>
  <!-- Dummy Meldungen auf diese Umfrage, großes TODO. Idee: Zeige alle Meldungen, die auf diese Umfrage geantwortet haben
  Momentan noch Platzhalter Werte -->
  <hr class="my-4">
  <div class="px-4">
    <h5 class="card-title">Meldungen</h5>
  </div>
  <form class="p-2 d-flex align-items-center">
    <div class="px-2"><strong>Filter:</strong></div>
    <select class="form-control mx-2">
      <option selected disabled>Nach Status filtern</option>
      <option>Erfasst</option>
      <option>Bestätigt</option>
      <option>In Bearbeitung</option>
      <option>Erledigt</option>
    </select>
    <input class="form-control mx-2" placeholder="Suche">
    <button class="btn btn-outline-secondary">Exportieren</button>
  </form>
  <div style="overflow-y: scroll; overflow-x: hidden; max-height: 50vh;" class="border-top">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Erstellungsdatum</th>
            <th>Art</th>
            <th>Standort</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>3. Mai 2020</td>
            <td>Schlagloch</td>
            <td>Jungfernstieg</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td colspan="5">
              <h5 class="mb-2">Meldung #1</h5>
              <div class="row">
                <div class="col-9">
                  <p>Die Autos rasen über den Radfahrstreifen. Ein wahnsinnger Rader hat mich eben fast umgenietet!!! Bitte sofort anzeigen Kenzeichen KI-LL 666 "Hintergrund: Veloroute 3, die Fahrradstrasse "Uferstrasse"</p>

                  <h6>Meldungsergebnisse</h6>
                  <img class="img-responsive" src="https://via.placeholder.com/700x300">
                </div>
                <div class="col-3">
                  <button class="btn btn-block btn-outline-secondary">Zeige auf Karte</button>
                  <button class="btn btn-block btn-outline-secondary">Kontaktiere Ersteller</button>
                  <button class="btn btn-block btn-outline-success">Als erledigt markieren</button>
                  <button class="btn btn-block btn-outline-danger">Löschen</button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>10. April 2020</td>
            <td>Schnee</td>
            <td>Stellingen</td>
            <td>Erfasst</td>
          </tr>
          <tr>
            <td>3</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>4</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>5</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>5</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>5</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>5</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>5</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>