<html layout:decorate="~{layout/layout}">

<head>
<title>Umfragen</title>
</head>

<body layout:fragment="content">
	<h2 class="my-4 mr-4">Umfragen</h2>

	<div class="py-2">
		<a class="btn btn-primary w-100" th:href="@{/umfragen/new}">Neue
			Umfrage erstellen</a>
	</div>

	<div class="table-responsive mb-4">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Titel</th>
					<th>Kategorie</th>
					<th>Erstellungsdatum</th>
					<th>Status</th>
					<th>Bestätigungen</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="umfrage: ${umfragen}">
					<td th:text="${umfrage.titel}"></td>
					<td th:text="${umfrage.kategorie}"></td>
					<td th:text="${umfrage.createdAt}"></td>
					<td th:text="${umfrage.isDisabled} ? 'deaktiviert' : 'aktiviert'"></td>
					<td th:text="${umfrage.anzahlBestaetigungen}"></td>
					<td><a class="btn btn-sm btn-primary"
						th:href="@{'/umfragen/' + ${umfrage.id}}">Anzeigen</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>