<html layout:decorate="~{layout/layout}">

<head>
<title>Umfrage bearbeiten</title>
</head>

<body layout:fragment="content">
	<form method="POST" th:action="@{${formPostUrl}}"
		th:object="${umfrage}">
		<input type="hidden" th:if="${umfrageId}" th:field="*{id}">

		<div class="card w-80">
			<div class="card-body">
				<div class="py-2 border-bottom">
					<h3 class="card-title">Umfrage Bearbeiten</h3>
				</div>

				<div class="py-2 border-bottom">
					<div id="map" class="w-100" style="height: 300px;"></div>

					<script th:inline="javascript">
						window.document.showMap = true;
					</script>
				</div>

				<div class="row py-2">
					<div class="col border-right">
						<div class="py-2">
							<h4>Informationen</h4>
						</div>

						<label for="titel" class="col col-form-label">Titel</label>
						<div class="col-12 py-1">
							<input type="text" class="form-control" id="titel"
								th:field="*{titel}" th:errorclass="is-invalid"
								placeholder="Titel" maxlength="255">
							<div class="invalid-feedback" th:errors="*{titel}"></div>
						</div>

						<label for="kategorie" class="col col-form-label">Kategorie</label>
						<div class="col-12 py-1">
							<input type="text" class="form-control" id="kategorie"
								th:field="*{kategorie}" th:errorclass="is-invalid"
								placeholder="Kategorie" maxlength="255">
							<div class="invalid-feedback" th:errors="*{kategorie}"></div>
						</div>

						<label for="startDatum" class="col col-form-label">Startdatum</label>
						<div class="col-12 py-1">
							<input type="text" class="form-control" id="startDatum"
								th:field="*{startDatum}" th:errorclass="is-invalid"
								placeholder="Startdatum" maxlength="255">
							<div class="invalid-feedback" th:errors="*{startDatum}"></div>
						</div>

						<label for="endDatum" class="col col-form-label">Enddatum</label>
						<div class="col-12 py-1">
							<input type="text" class="form-control" id="endDatum"
								th:field="*{endDatum}" th:errorclass="is-invalid"
								placeholder="Enddatum" maxlength="255">
							<div class="invalid-feedback" th:errors="*{endDatum}"></div>
						</div>

						<div class="col-12 py-1">
							<input type="checkbox" th:field="*{istMehrfachBeantwortbar}">
							<span>Mehrfach beantwortbar</span>
						</div>
					</div>
					<div class="col">
						<!-- Befragungen -->
						<input type="hidden" id="befragungen_count"
							th:value="${#lists.size(umfrage.befragungen)}">
						<div class="py-2">
							<h4>Befragungen</h4>
						</div>

						<div class="border rounded px-2 mb-2"
							th:each="befragung, bStat : *{befragungen}">
							<input type="hidden" th:field="*{befragungen[__${bStat.index}__].befragungId}">
							<!-- Ort der Befragung -->
							<input type="hidden" th:id="'longitude_' + ${bStat.index}"
								th:field="*{befragungen[__${bStat.index}__].laengengrad}">
							<input type="hidden" th:id="'latitude_' + ${bStat.index}"
								th:field="*{befragungen[__${bStat.index}__].breitengrad}">

							<div class="py-2 border-bottom text-center font-weight-bold">
								<span>Befragung </span><span th:text="${bStat.count}"></span>
							</div>

							<!-- Map Controls -->
							<div class="py-2 border-bottom">
								<button type="button" class="btn btn-primary"
									th:onclick="'addBefragungsOrt(' + ${bStat.index} + ')'">
									<i class="fas fa-map-marker-alt"></i><span class="ml-1">Ort
										hinzufügen</span>
								</button>
								<!-- 
								<button type="button" class="btn btn-danger"
									th:onclick="'removeBefragungsOrt(' + ${bStat.index} + ')'">
									<i class="fas fa-trash-alt"></i><span class="ml-1">Ort
										entfernen</span>
								</button>
								 -->
							</div>

							<!-- Fragen -->
							<div class="border-bottom p-2"
								th:each="frage, fStat : ${befragung.fragen}">
								<input type="hidden" th:field="*{befragungen[__${bStat.index}__].fragen[__${fStat.index}__].id}">
								<div class="py-1">
									<span>Frage </span><span th:text="${fStat.count}"></span>
								</div>
								<div class="py-1">
									<input type="text" class="form-control"
										th:field="*{befragungen[__${bStat.index}__].fragen[__${fStat.index}__].text}"
										placeholder="Frage" maxlength="255">
								</div>
								<div>
									<span>Antwortmöglichkeiten</span>
								</div>
								<div class="py-1 d-flex"
									th:each="antwort, aStat : ${frage.antworten}">
									<input type="text" class="form-control"
										th:field="*{befragungen[__${bStat.index}__].fragen[__${fStat.index}__].antworten[__${aStat.index}__]}"
										placeholder="Antwort..." maxlength="255">
									<button type="submit" name="removeAntwort"
										th:value="${bStat.index} + ';' + ${fStat.index} + ';' + ${aStat.index}"
										class="btn btn-danger ml-2">
										<i class="far fa-trash-alt"></i>
									</button>
								</div>

								<!-- Weitere Antworten hinzufügen -->
								<div class="py-1">
									<button type="submit" name="addAntwort"
										th:value="${bStat.index} + ';' + ${fStat.index}"
										class="btn btn-primary w-100">Antwort hinzufügen</button>
								</div>

								<!-- Bedingungen -->

								<!-- Fragen Actions -->
								<div class="py-1 d-flex justify-content-between">
									<!-- 
									<button type="button" class="d-flex btn btn-warning" disabled>Bedingung
										hinzufügen</button>
									 -->
								<button type="submit" name="addFrage" th:value="${bStat.index}"
									class="btn btn-primary">Frage hinzufügen</button>
									<button type="submit" name="removeFrage"
										th:value="${bStat.index} + ';' + ${fStat.index}"
										class="d-flex btn btn-danger">Frage löschen</button>
								</div>
							</div>

							<div class="py-2">
								<button type="submit" name="removeBefragung"
									th:value="${bStat.index}" class="btn btn-danger w-100">Befragung
									löschen</button>
							</div>
						</div>

						<div class="py-2">
							<button type="submit" name="addBefragung"
								class="btn btn-primary w-100">Befragung hinzufügen</button>
						</div>
					</div>
				</div>
			</div>

			<div class="card-body">
				<button type="submit" class="btn btn-primary w-100">
					<i class="fas fa-save"></i> <span class="ml-1">Speichern</span>
				</button>
			</div>
		</div>
	</form>
</body>

</html>