<html layout:decorate="~{layout/layout}">

<head>
<title>Umfrage ansehen</title>
</head>

<body layout:fragment="content">
	<a href="/umfragen" class="btn btn-link"> <i
		class="fas fa-arrow-left mr-1"></i>Umfragen
	</a>

	<div class="card w-80">
		<div class="card-body">
			<h4 class="card-title" th:text="${umfrage.titel}"></h4>

			<div class="row">
				<div class="col border-right">
					<!-- Erstellt am -->
					<div class="row py-1">
						<span class="col-4 text-right">Erstellt am: </span> <span
							class="col-8" th:text="${umfrage.createdAt}"></span>
					</div>
					<!-- Bearbeitet am -->
					<div class="row py-1" th:if="${umfrage.updatedAt != null}">
						<span class="col-4 text-right">Bearbeitet am: </span> <span
							class="col-8" th:text="${umfrage.updatedAt}"></span>
					</div>

					<div class="row py-1">
						<span class="col-4 text-right">Kategorie: </span> <span
							class="col-8" th:text="${umfrage.kategorie}"></span>
					</div>

					<div class="row py-1">
						<span class="col-4 text-right">Startdatum: </span> <span
							class="col-8" th:text="${umfrage.startDatum}"></span>
					</div>

					<div class="row py-1">
						<span class="col-4 text-right">Enddatum: </span> <span
							class="col-8" th:text="${umfrage.endDatum}"></span>
					</div>

					<div class="row py-1">
						<span class="col-4 text-right">Bestätigungs-Schwellenwert:
						</span> <span class="col-8"
							th:text="${umfrage.bestaetigungsSchwellenwert}"></span>
					</div>
				</div>
				<div class="col">
					<div class="border rounded p-2 mb-2"
						th:each="frage : ${umfrage.fragen}">
						<div class="py-1">
							<h5 th:text="${frage.titel}"></h5>
						</div>
						<!-- Die Antworten -->
						<div class="py-1" th:each="antwort : ${frage.antworten}">
							<span th:text="${antwort}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card-body">
			<a class="btn btn-primary w-100"
				th:href="@{'/umfragen/' + ${umfrage.id} + '/edit'}">Bearbeiten</a>
		</div>
	</div>
</body>
</html>