<html layout:decorate="~{layout/layout}" xmlns:th="http://thymeleaf.org">

<head>
  <title>ADFC - Umfrage erstellen</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin="" type="text/javascript"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

</head>

<body layout:fragment="content">

  <div id="createSurveyApp">

    <h2 class="my-4">Umfrage erstellen</h2>
    <div class="mb-4" id="mapid" style="width: calc(90vw - 10rem); height: 30vh;"></div>

    <div v-if="showSuccessAlert" class="alert alert-success" role="alert">
      <div class="d-flex align-items-center">
        <div>Umfrage erfolgreich erstellt!</div>
        <a class="btn btn-link ml-2">Anzeigen</a>
        <button class="btn ml-auto" @click="showSuccessAlert=false"><i class="fas fa-times"></i></button>
      </div>
    </div>

    <div v-if="formError" class="alert alert-danger" role="alert">
      {{ formError }}
    </div>

    <div class="card">
      <div class="card-body">
        <form @submit="postSurvey">
          <div class="row">
            <div class="col border-right">
              <!-- common infos -->
              <div class="form-group">
                <label>Titel</label>
                <input class="form-control" v-model="title" placeholder="Titel"></input>
              </div>

              <div class="form-group">
                <label>Zeitfenster</label>
                <input type="date" class="form-control mb-2" placeholder="From" v-model="dateFrom">
                <input type="date" class="form-control mb-2" placeholder="To" v-model="dateTo">
              </div>

              <div class="form-group">
                <label>Anzahl an Bestätigungen benötigt:</label>
                <input type="number" class="form-control" :placeholder="confirmedThreshhold"
                v-model="confirmedThreshhold">
              </div>

              <div class="form-group">
                <!-- category -->
                <label>Kategorie</label>
                <!--<input class="form-control" v-model="category" placeholder="Kategorie"></input>-->
                <div v-if="!customCategory">
                  <select class="custom-select mb-2" v-model="category1">
                    <option selected>Kategorie 1</option>
                    <option v-for="option in categoryOptions" :value="option">{{ option.text }}</option>
                  </select>

                  <select class="custom-select mb-2" v-if="category1" v-model="category2">
                    <option selected>Kategorie 2</option>
                    <option v-for="option in category1.suboptions" :value="option">{{ option.text }}</option>
                  </select>

                  <select class="custom-select mb-2" v-if="category2" v-model="category3">
                    <option selected>Kategorie 3</option>
                    <option v-for="option in category2.suboptions" :value="option">{{ option.text }}</option>
                  </select>
                </div>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" v-model="customCategory" id="customCategoryCheckbox">
                  <label class="form-check-label" for="customCategoryCheckbox">
                    Benutzerdefinierte Kategorie
                  </label>
                </div>

                <input class="form-control" v-if="customCategory" v-model="customCategoryText" placeholder="Kategorie">

              </div>

            </div>

            <div class="col">
              <!-- question -->
              <div v-for="(question, index) in questions">

                <!-- toogle <hr> after first question -->
                <div v-if="questions.indexOf(question) > 0">
                  <hr>
                </div>

                <div class="form-group">
                  <label>Frage #{{ index + 1 }}</label>
                  <input class="form-control" v-model="question.title" placeholder="Frage"></input>
                </div>

                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="question.allowCustomAnswer"
                    id="allowCustomAnswerCheckbox">
                    <label class="form-check-label" for="allowCustomAnswerCheckbox">
                      Erlaube Freitext-Antwort
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label>Antwortmöglichkeiten</label>
                  <div v-for="answer in question.answers" class="d-flex justify-space-between mb-4">
                    <input class="form-control" v-model="answer.text">
                    <button type="button" class="btn text-danger ml-3" @click="removeAnswer(question, answer)">
                      <span><i class="far fa-trash-alt"></i></span>
                    </button>
                  </div>
                  <div class="button-group">
                    <!-- add answer -->
                    <button type="button" class="btn btn-primary mb-3" @click="addAnswer(question)"><i
                      class="fas fa-plus"></i></button>
                      <!-- delete answer -->
                    <!--<button type="button" class="btn btn-danger mb-3" @click="removeAnswer(question)"><i
                      class="fas fa-minus"></i></button>-->
                    </div>

                  </div>

                  <div class="list-group mb-3">
                    <div class="list-group-item" v-for="(condition, index) in question.conditions">
                      <div class="d-flex justify-space-between">
                        <div class="form-group mb-0">
                          <label :for="'condition-question' + index">Bedingung: Frage nur zeigen wenn:</label>
                          <select :id="'condition-question' + index" v-model="condition.question">
                            <option default disabled>-</option>
                            <option v-for="question in questions" :value="question">{{ question.title }}</option>
                          </select>
                          <label for="'condition-answer' + index">mit:</label>
                          <select id="'condition-answer' + index" v-if="condition.question"
                          v-model="condition.expectedAnswer">
                          <option v-for="answer in condition.question.answers" :value="answer">{{ answer.text }}
                          </option>
                        </select>
                        <label>beantwortet wurde.</label>
                      </div>
                      <div>
                        <!-- delete condition -->
                        <button type="button" class="btn text-danger ml-3"
                        @click="deleteCondition(question, condition)">
                        <span><i class="far fa-trash-alt"></i></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="button-group">
                <!-- add condition -->
                <button type="button" class="btn btn-primary mb-3" @click="addCondition(question)">Bedingung
                hinzufügen</button>
                <!-- add location -->
                <button type="button" class="btn btn-primary mb-3" @click="addLocation(question)">Ort hinzufügen</button>
                <!-- delete question -->
                <button type="button" class="btn btn-danger mb-3" @click="deleteQuestion(question)">Frage
                löschen</button>
                <!-- delete location -->
                <button type="button" class="btn btn-danger mb-3" @click="deleteLocation(question)">Ort
                löschen</button>


              </div>

            </div>

            <hr>

            <div class="form-group">
              <!-- add question -->
              <button type="button" class="btn btn-primary mb-3" @click="addQuestion">Frage hinzufügen</button>
            </div>

          </div>
        </div>

        <!-- create survey -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Umfrage erstellen</button>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- positive modal when data is good -->
<div class="modal" tabindex="-1" id="positiveModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Senden der Umfrage erfolgreich</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Die Umfrage konnte erfolgreich gesendet werden.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<!-- negative modal when something is missing in data -->
<div class="modal" tabindex="-1" id="negativeModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Senden der Umfrage fehlgeschlagen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Zum Senden der Umfrage müssen alle Felder ausgefüllt werden und ein Punkte auf der Karte angegeben
        werden.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  const createSurveyApp = new Vue({
    el: '#createSurveyApp',
    data: {

      id: Math.floor(Math.random() * (100000 - 0 + 1)) + 0,
      title: '',
      category: '',
      dateFrom: null,
      dateTo: null,
      confirmedThreshhold: 10,
      questions: [],
      createdManually: true,

      lat: [[${ lat }]],
      lng: [[${ lng }]],
      markers: null,
      questionMarkers: null,
      mymap: null,

      showSuccessAlert: false,
      formError: null,

      category1: null,
      category2: null,
      category3: null,
      customCategory: false,
      customCategoryText: '',

      categoryOptions: [
      {
        text: 'Hindernis',
        suboptions: [
        { text: '' },
        ],
      },
      {
        text: 'Fahrbahnoberfläche',
        suboptions: [
        {
          text: 'Verschmutzung',
          suboptions: [
          { text: 'Schnee / Glatteis' },
          ],
        },
        ]
      },
      { text: 'Verkehrsführung' },
      { text: 'Abstellanlage' },
      ],

    },
    mounted() {
      this.resetData()

        // init popup
        var popup = L.popup();
        // init layerGroup holding all the markers
        // this is used to delete previous markers when clicking on map
        this.markers = L.layerGroup()

        this.questionMarkers = L.layerGroup();

        // set map depending on whether real coordinates where given
        // default is somewhat the center of hamburg
        if (this.lat == 0 && this.lng == 0) {
          this.mymap = L.map('mapid').setView([53.551086, 9.993682], 12);

        } else {
          this.mymap = L.map('mapid').setView([this.lat, this.lng], 16);

        }

        this.resetMap()

        // init map
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
          maxZoom: 18,
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
          '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          id: 'mapbox/streets-v11',
          tileSize: 512,
          zoomOffset: -1
        }).addTo(this.mymap);

        const self = this

        this.mymap.on('click', function (e) {
          const lat = e.latlng.lat
          const lng = e.latlng.lng

          // add marker to map, delete old one
          var marker = L.marker([lat, lng], {
           draggable:true,
           autoPan:true
         }).addTo(self.mymap)
          .bindPopup("<b>Hier wird die erstellte Umfrage sein.</b><br/>");
          self.markers.eachLayer((layer) => {
            layer.remove()
            self.markers.removeLayer(layer);
          });
          self.markers.addLayer(marker);
        })
      },
      created() {
      },
      methods: {
        addQuestion() {
          this.questions.push({
            title: '',
            answers: [
            { text: 'Ja', },
            { text: 'Nein', },
            ],
            conditions: [],
            allowCustomAnswer: this.allowCustomAnswer ? true : false
          })
        },
        // deletes a question
        deleteQuestion(question) {
          var index = this.questions.indexOf(question);
          //console.log(index)
          this.questions.splice(index, 1);
        },
        // add answer
        addAnswer(question) {
          question.answers.push({ text: '' });
        },
        // delete latest answer in question.answers
        removeAnswer(question, answer) {
          question.answers.splice(question.answers.indexOf(answer), 1)
        },
        // add location (green marker) to question on map, 
        // only if question does not have location already
        addLocation(question) {

          var existingMarker = this.getMarkerForQuestion(question);
          if (!existingMarker) {
           var greenIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
          });

           
           const index = this.questions.indexOf(question) + 1;
           const bounds = this.mymap.getBounds();
           const coordinates = bounds.getCenter();
           var marker = L.marker(coordinates, {
             draggable:true,
             autoPan:true,
             icon:greenIcon
           }).addTo(this.mymap).bindPopup('<b>Ort für Frage ' + index + ' </b>');
           this.questionMarkers.addLayer(marker);
         } else {
          existingMarker.openPopup();
        }
      },
        // delete marker for question
        deleteLocation(question) {
          var marker = this.getMarkerForQuestion(question);
          if (marker) {
            marker.remove();
            this.questionMarkers.removeLayer(marker);
          }
        },
        getMarkerForQuestion(question) {
          const index = this.questions.indexOf(question)
          // hyper complexe algorithm to pull out the correct marker to the question
          // from all the markers in the array
          var chosenMarker = null;
          this.questionMarkers.eachLayer((layer) => {
           const popupText = layer.getPopup().getContent();
           const indexOfMarkerInLayerGroup = parseInt(popupText.split(' ')[3]) - 1;
           if  (indexOfMarkerInLayerGroup == index) {
            chosenMarker = layer;
          }
        });
          return chosenMarker;
        },
        // add condition
        addCondition(question) {
          question.conditions.push({
            question: null,
            expectedAnswer: null,
          })
        },
        // delete condition
        deleteCondition(question, condition) {
          question.conditions.splice(question.conditions.indexOf(condition), 1)

        },
        // check if all questions have at least one answer
        questionsHaveAnswer(questions) {
          var bQuestionsHaveAnswer = false;
          for (var i = 0; i < questions.length; i++) {
            if (this.questions[i].answers !== null && this.questions[i].answers.length > 0) {
              bQuestionsHaveAnswer = true;
            } else {
              return false;
            }
          }
          //console.log('bQuestionsHaveAnswer ' + bQuestionsHaveAnswer)
          return bQuestionsHaveAnswer;
        },
        // check if all questions have a title
        questionsHaveTitle(questions) {
          var bQuestionsHaveTitle = false;
          for (var i = 0; i < questions.length; i++) {
            if (this.questions[i].title !== null && this.questions[i].title.trim().length !== 0) {
              bQuestionsHaveTitle = true;
            } else {
              return false;
            }
          }
          //console.log('bQuestionsHaveTitle ' + bQuestionsHaveTitle)
          return bQuestionsHaveTitle;
        },
        resetMap() {
          // add initial marker to map. this is duplicate code but vue does not let me use a function
          this.markers.eachLayer((layer) => {
            layer.remove()
            this.markers.removeLayer(layer);
          });
          this.questionMarkers.eachLayer((layer) => {
            layer.remove()
            this.markers.removeLayer(layer);
          });

          if (this.lat && this.lng) {
            var marker = L.marker([this.lat, this.lng]).addTo(this.mymap)
            .bindPopup("<b>Hier wird die erstellte Umfrage sein.</b><br/>");
            this.markers.addLayer(marker);
          }
        },
        resetData() {
          this.title = ''
          this.category = ''
          this.dateFrom = null
          this.dateTo = null
          this.confirmedThreshhold = 10
          this.questions = []
          this.createdManually = true
          this.category1 = null
          this.category2 = null
          this.category3 = null
          this.customCategory = false
          this.customCategoryText = null

          // initially add first question
          this.addQuestion()
        },
        postSurvey(e) {
          e.preventDefault()
          // make post to controller with json data of survey

          // data object holding information
          const data = {};
          // creating unique id
          data.id = this.id

          // get data
          data.title = this.title;
          data.dateFrom = this.dateFrom;
          data.dateTo = this.dateTo;
          data.confirmedThreshhold = this.confirmedThreshhold

          // map questions and expected answer to their indices to avoid circular json
          data.questions = this.questions.map((question) => {
            var lat = null;
            var lng = null;
            if(this.getMarkerForQuestion(question)) {
              lat = this.getMarkerForQuestion(question).getLatLng().lat;
              lng =this.getMarkerForQuestion(question).getLatLng().lng;
            }


            return {
              ...question,
              lat: lat,
              lng: lng,
              conditions: question.conditions.map((condition) => {
                return {
                  question: this.questions.indexOf(question),
                  expectedAnswer: question.answers.indexOf(condition.expectedAnswer)
                }
              })
            }
          });
          data.category = this.customCategory ? this.customCategoryText : this.category1.text;
          data.confirmedByUsers = [];
          data.createdManually = this.createdManually;
          data.creator = '[[${ user.emailAddress }]]';

          // get date
          // generate a timestamp
          var timestamp = Number(new Date())
          var date = new Date(timestamp)
          data.createdAtDate = date;

          // get coordinates of current marker
          // only one marker in layergroup, forEach only runs once
          this.markers.eachLayer(function (layer) {
            data.lat = layer.getLatLng().lat;
            data.lng = layer.getLatLng().lng;
          });

          //validate data
          //TODO category1 test
          if (data.title.trim().length !== 0 &&
            data.dateFrom !== null &&
            data.dateTo !== null &&
            (this.dateFrom >= new Date().toJSON().slice(0, 10)) &&
            (this.dateTo >= this.dateFrom) &&
            data.confirmedThreshhold !== 0 &&
            data.questions !== null && data.questions.length !== 0 &&
            this.questionsHaveTitle(data.questions) && this.questionsHaveAnswer(data.questions) &&
            this.category !== null && data.category.trim().length !== 0 &&
            data.createdAtDate !== null &&
            data.lat !== null && data.lat !== 0 &&
            data.lng !== null && data.lng !== 0) {

            // get address from coordinates
          const getRequest = new XMLHttpRequest();
          getRequest.open("GET", 'https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=' + data.lat + '&lon=' + data.lng);
          getRequest.responseType = "json";

            // make post with complete json to controller once address is fetched
            getRequest.onload = function (e) {
            	console.log(getRequest);
            	if (getRequest.status == 200) {
                var address = new Object();
                data.address = new Object();
              // city is something different depending on the location [CITY, VILLAGE, TOWN]
              if (getRequest.response.address.city != undefined) {
                address.city = getRequest.response.address.city;
              } else if (getRequest.response.address.village != undefined) {
                address.city = getRequest.response.address.village;
              } else if (getRequest.response.address.town != undefined) {
                address.city = getRequest.response.address.town;
              }
              address.postcode = getRequest.response.address.postcode;
              address.street = getRequest.response.address.road;
              address.houseNumber = getRequest.response.address.house_number; // not guaranteed to be present!
              data.address = address;

              const jsonString = JSON.stringify(data);
              const request = new XMLHttpRequest();
              request.open("POST", "/umfrage-erstellen");
              request.setRequestHeader("Content-Type", "application/json");
              request.send(jsonString);
            }
          }
          getRequest.send();
            //console.log(getRequest)

            this.showSuccessAlert = true

            //delete all error modals
            this.formError = null;

            //reset all fields
            this.resetData()

            //reset map
            this.resetMap()
            this.lat = null;
            this.lng = null;
            this.mymap = null;

          } else {
            // show negative modal and hide positive modal
            this.formError = 'Alle Felder müssen ausgefüllt werden und ein Punkt auf der Karte angegeben werden. Das Startdatum darf nicht in der Vergangenheit liegen.'
            this.showSuccessAlert = false
          }
        },
      },
    })

  </script>

</body>

</html>
