<html layout:decorate="~{layout/layout}">

<head>
	<title>ADFC - Meldungen</title>
	<!-- Source: https://leafletjs.com/examples/quick-start/example.html -->
	<meta charset="utf-8" />
	<!-- CSS to get leaflet to fullscreen -->
	<!-- <link rel="stylesheet" type="text/css" href="map.css"> -->
	<style>
		html,
		body {
			height: 100%;
		}

		#mapid {
			height: 100%;
			background: #000;
		}

		.custom-round-btn {
			height: 60px;
			line-height: 60px;
			width: 60px;
			font-size: 2em;
			font-weight: bold;
			border-radius: 50%;
			background-color: #498adc;
			color: white;
			text-align: center;
			cursor: pointer;
			position: absolute;
			bottom: 20px;
			right: 30px;
			z-index: 9999;
		}

		.custom-round-btn:hover {
			background-color: white;
		}

		A:hover {
			COLOR: #498adc;
			TEXT-DECORATION: none;
			font-weight: none
		}
	}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin="" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
</head>

<body layout:fragment="content">

	<div id="mapid" style="width:100%"></div>
	<!-- round button to add a new survey -->
	<a href="/umfrage-erstellen" class="custom-round-btn">+</a>

	<!-- js file for map.html -->
	<!-- <script src="/map.js"></script> -->
	<script>
		// coordinates for hamburg lat: 53.551086, long: 9.993682
		var mymap = L.map('mapid').setView([53.551086, 9.993682], 13);

		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			id: 'mapbox/streets-v11',
			tileSize: 512,
			zoomOffset: -1
		}).addTo(mymap);

		var popup = L.popup();

		function onMapClick(e) {
			//create link to open "/umfrage-erstellen"
			var a = document.createElement('a');
			var lat = e.latlng.lat;
			var lng = e.latlng.lng;

			//text node
			var link = document.createTextNode("Hier klicken, um eine Umfrage an Position (" + lat.toFixed(4) + ", " + lng.toFixed(4) + ") zu erstellen");

			// Append text node to anchor element
			a.appendChild(link);

			// Set the href property. 
			a.href = "/umfrage-erstellen?coordinates=" + [lat + "," + lng];

			//popup
			popup
			.setLatLng(e.latlng)
			.setContent(document.body.appendChild(a))
			.openOn(mymap);
		}

		//add a survey from db to map with marker (from files ONLY at the moment)
		function addSurveysToMap(id, lat, lng, category, createdAtDate, confirmedByUsers, confirmedThreshhold, title, questions, dateFrom, dateTo) {
			
			var confirmations = "";
			if (confirmedByUsers.length > 0) {
				confirmations = "Bestätigt von: " + confirmedByUsers + "<br/>";
			} else {
				confirmations = "Keine Bestätigungen<br/>";
			}
			
			var questionsHTML = "";
			var answersHTML = "";
			for (var i = 0; i < questions.length; i++) {
				for (var k = 0; k < questions[i].answers.length; k++) {
					if (k > 0) {
						answersHTML += ", ";
					}
					answersHTML += questions[i].answers[k].text;
				}
				questionsHTML += "<li>" + questions[i].title + " [" + answersHTML + "]</li>";
				answersHTML = "";
			}
			
			L.marker([lat, lng]).addTo(mymap)
			.bindPopup(
				'<a href="umfragen/' + id +'"><b>Umfrage Id ' + id +'</b></a>' + 
				": " + title + "<br/>" +
				"Lat: " + lat.toFixed(4) + "<br/>" +
				"Lng: " + lng.toFixed(4) + "<br/>" +
				"Kategorie: " + category + "<br/>" +
				"Erstellt am: " + createdAtDate + "<br/>" +
				"Dauer: " + dateFrom + " bis " + dateTo + "<br/>" +
				confirmations +
				"Fragen: " + 
				"<ul>" + questionsHTML + "</ul>" +
				//"Fragen: " + questionsHTML + "<br/>" +
				/*"Fragen: " + JSON.stringify(questions) + "<br/>"*/
				'<a href="umfragen/' + id +'">Details</b></a>'
				);
		}

		mymap.on('click', onMapClick);
	</script>

	<!-- add all surveys from db to map with marker -->
	<th:block th:each="survey : ${surveys}">
	<!-- call js function -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		addSurveysToMap([[${ survey.id }]], [[${ survey.lat }]], [[${ survey.lng }]], [[${ survey.category }]],
			[[${ survey.createdAtDate }]], [[${ survey.confirmedByUsers }]], [[${ survey.confirmedThreshhold }]],
			[[${ survey.title }]], [[${ survey.questions }]], [[${ survey.dateFrom }]], [[${ survey.dateTo }]]  );
		/*]]>*/
	</script>
</th:block>

</body>

</html>