<html layout:decorate="~{layout/layout}">

  <head>
    <title>ADFC - Umfrage erstellen</title>
  </head>

  <body layout:fragment="content">

    <h2 class="my-4">Umfrage erstellen</h2>

    <div class="row">
      <div class="col-8 border-right">
        <img src="/map_circle.png" width="600" class="img-responsive">
      </div>
      <div class="col-4">
        <form>
          <div class="form-group">
            <label>Titel</label>
            <input class="form-control" value="Winterdienst"></input>
          </div>

          <div class="row-20 border"></div>

          <div class="form-group">
            <label>Frage #1</label>
            <input class="form-control" value="Besteht hier Rutschgefahr?"></input>
          </div>

          <div class="form-group">
            <label>Antwort</label>
            <input class="form-control" value="Ja">
            <input class="form-control" value="Nein">
            <button class="btn btn-primary mb-3">+</button>
          </div>

          <div class="form-group">
            <button class="btn btn-primary mb-3">Bedingung hinzufügen</button>
          </div>

          <div class="row-20 border"></div>

          <div class="form-group">
            <label>Frage #2</label>
            <input class="form-control" value="Besteht hier Rutschgefahr?"></input>
          </div>

          <div class="form-group">
            <label>Antwort</label>
            <input class="form-control" value="Ja">
            <input class="form-control" value="Nein">
            <button class="btn btn-primary mb-3">+</button>
          </div>

          <div class="form-group">
            <button class="btn btn-primary mb-3">Bedingung hinzufügen</button>
          </div>

          <div class="row-20 border"></div>

          <div class="form-group">
            <label>Frage #3</label>
            <input class="form-control" value="Spritzt durch KFZ Matsch zum Radweg?"></input>
          </div>

          <div class="form-group">
            <label>Antwort</label>
            <input class="form-control" value="Ja">
            <input class="form-control" value="Nein">
            <button class="btn btn-primary mb-3">+</button>
          </div>

          <div class="form-group">
            <label for="fragen">Bedingung: Frage nur zeigen, wenn:</label>
            <select id="fragen">
              <option value="/">/</option>
              <option value="frage1">Frage #1</option>
              <option value="frage2">Frage #2</option>
              <option value="frage2">Frage #4</option>
            </select>
            <label for="antworten">mit:</label>
            <select id="antworten">
              <option value="ja">Ja</option>
              <option value="nein">Nein</option>
              <option value="freitext">Freitext</option>
            </select>
            <label >beantwortet wurde.</label>
          </div>

          <div class="row-20 border"></div>

          <div class="form-group">
            <label>Frage #4</label>
            <input class="form-control" value="Andere Besonderheiten?"></input>
          </div>

          <div class="form-group">
            <label>Antwort</label>
            <input class="form-control" value="Nein"></input>
            <textarea class="form-control" value="Nein"></textarea>
            <button class="btn btn-primary mb-3">+</button>
          </div>

          <div class="form-group">
            <button class="btn btn-primary mb-3">Bedingung hinzufügen</button>
          </div>

          <div class="row-20 border"></div>

          <div class="form-group">
            <button class="btn btn-primary mb-3">Frage hinzufügen</button>
          </div>

          <div class="form-group">
            <label>Zeitfenster</label>
            <input type="date" class="form-control" placeholder="From">
            <input type="date" class="form-control" placeholder="To">
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Umfrage erstellen</button>
          </div>

        </form>

      </div>
    </div>

  </body>
</html>
