<html layout:decorate="~{layout/layout}">

<head>
  <title th:text="${'Umfrage #' + survey.id}"></title>

  <link rel="stylesheet"
  href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin="" type="text/javascript"></script>

</head>

<body layout:fragment="content">

  <a href="/umfragen" class="btn btn-link"><i class="fas fa-arrow-left mr-1"></i>Umfragen</a>
  <!--<h2 class="my-2">Einzelne Umfrage</h2>-->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-9">
          <h4 class="card-title" th:text="${'Umfrage #' + survey.id}">
            <!-- <span class="badge badge-secondary">Nutzergeneriert</span> -->
          </h4>
          <h6 class="card-subtitle mb-2 text-muted" th:text="${'Erstellt am: ' + survey.createdAtDate}"></h6>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" th:text="${'Kategorie: ' + survey.category}"></li>
            </ol>
          </nav>
          <div>
            <h6 class="mb-2 text-muted">Ort: <span class="badge badge-secondary" th:text="${survey.address.houseNumber!=null}?${survey.address.street + ' ' + survey.address.houseNumber + ', ' + survey.address.postcode + ', ' + survey.address.city}:${survey.address.street + ', ' + survey.address.postcode + ', ' + survey.address.city}"></span></h6>
          </div>
          <div>
            <h6 class="mb-2 text-muted">Ersteller: <span class="badge badge-secondary" th:text="${survey.creator}"></span></h6>
          </div>
          <div>
            <h6 class="mb-2 text-muted">
              <span>Bestätigt von:</span>
              <span class="badge badge-primary mr-2" th:each="user : ${survey.confirmedByUsers}">
                <span th:text="${user}"></span>
              </span>
            </h6>
          </div>
          <div>
            <h6 class="mb-2 text-muted">Bestätigungspunkte: <span class="badge badge-secondary" th:text="${survey.confirmedByUsers.length + '/' + survey.confirmedThreshhold}"></span></h6>
          </div>

          <p class="card-text mb-4" th:text="${survey.title}"></p>
        </div>
        <div class="col-3">
          <button class="btn btn-block btn-outline-primary">Umfrage bearbeiten</button>
          <button class="btn btn-block btn-outline-primary" onClick="showOnMap()">Zeige auf Karte</button>
          <button class="btn btn-block btn-outline-primary" th:data-creator="${survey.creator}" onclick="contactCreator(this.dataset.creator)">Kontaktiere Ersteller</button>
          <button class="btn btn-block btn-outline-success">Bestätigen</button>
        </div>
      </div>

      <hr class="my-4">

      <div class="row">
        <div class="col">
          <div id="mapid" style="width: calc(40vw - 2rem); height: 350px;"></div>
        </div>
        <div class="col">
          <h6>Fragen</h6>
          <div th:each="question : ${survey.questions}">
           <div th:text="${question.title}"></div>
           <ul>
            <div th:each="answer : ${question.answers}">
             <li th:text="${answer.text}"></li>
           </div>
         </ul>
       </div>
       <span th:if="${!survey.createdManually}">
         <h6>Umfrage wurde automatisch aus folgender Meldung generiert</h6>
         <div class="border p-4">
          <div class="row">
            <div class="col-9">
              <a href="#"><strong>User #1234</strong></a>
              <p>Die Autos rasen über den Radfahrstreifen. Ein wahnsinnger Rader hat mich eben fast umgenietet!!! Bitte sofort anzeigen Kenzeichen KI-LL 666"Hintergrund: Veloroute 3, die Fahrradstraße "Uferstraße"</p>
            </div>
          </div>
        </span>
        <h6>Meldungsergebnisse</h6>
        <img class="img-responsive" src="https://via.placeholder.com/300x200">
      </div>
    </div>
  </div>
  <hr class="my-4">
  <h5 class="card-title">Meldungen</h5>
  <form class="p-2 d-flex align-items-center">
    <div class="px-2"><strong>Filter:</strong></div>
    <select class="form-control mx-2">
      <option selected disabled>Nach Status filtern</option>
      <option>Erfasst</option>
      <option>Bestätigt</option>
      <!-- "In Bearbeitung" added here -->
      <option>In Bearbeitung</option>
      <option>Erledigt</option>
    </select>
    <input class="form-control mx-2" placeholder="Suche">
    <button class="btn btn-outline-secondary">Exportieren</button>
  </form>
  <div style="overflow-y: scroll; overflow-x: hidden; max-height: 50vh;" class="border-top">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Erstellungsdatum</th>
            <th>Art</th>
            <th>Standort</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>3. Mai 2020</td>
            <td>Schlagloch</td>
            <td>Jungfernstieg</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td colspan="5">
              <h5 class="mb-2">Meldung #1</h5>
              <div class="row">
                <div class="col-9">
                  <p>Die Autos rasen über den Radfahrstreifen. Ein wahnsinnger Rader hat mich eben fast umgenietet!!! Bitte sofort anzeigen Kenzeichen KI-LL 666 "Hintergrund: Veloroute 3, die Fahrradstraße "Uferstraße"</p>

                  <h6>Meldungsergebnisse</h6>
                  <img class="img-responsive" src="https://via.placeholder.com/700x300">
                </div>
                <div class="col-3">
                  <button class="btn btn-block btn-outline-secondary">Zeige auf Karte</button>
                  <button class="btn btn-block btn-outline-secondary">Kontaktiere Ersteller</button>
                  <button class="btn btn-block btn-outline-success">Als erledigt markieren</button>
                  <button class="btn btn-block btn-outline-danger">Löschen</button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>10. April 2020</td>
            <td>Schnee</td>
            <td>Stellingen</td>
            <td>Erfasst</td>
          </tr>
          <tr>
            <td>3</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>4</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>5</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>5</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>5</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>5</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
          <tr>
            <td>5</td>
            <td>15. April 2020</td>
            <td>Schnee</td>
            <td>adipiscing</td>
            <td>Bestätigt</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>

    // coordinates passed from controller
    var lat = [[${survey.lat}]];
    var lng = [[${survey.lng}]];

  // init map

  var mymap = L.map('mapid').setView([lat, lng], 13);
  addMarkerToMap(lat, lng);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1
  }).addTo(mymap);

  function addQuestionMarkerToMap(question, index) {
    if (question.lat && question.lng) {
      var greenIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      });
      var marker = L.marker([question.lat, question.lng], {
       icon:greenIcon
     }).addTo(this.mymap).bindPopup('<b>Ort für Frage ' + index + ': ' + question.title +'</b>');
    }
  }

    // adds a marker to given coordinates,
    // used to mark location of survey
    function addMarkerToMap(lat, lng) {
      var marker = L.marker([lat, lng]).addTo(mymap)
      .bindPopup("<b>Ort der Umfrage.<br/>");
    };
   // centers the map on the location of the survey while zooming in
   function showOnMap() {
    mymap.setView([lat, lng], 17);
  };

  // opens email client to write email to survey creator
  function contactCreator(creator) {
    var mailAddress = creator
    var subject = "BikeHH - Umfrage #" + [[${survey.id}]];
    window.location.href = "mailto:" + mailAddress + "?subject="+ subject + "&body=";
  };
</script>
<th:block th:each="question,status : ${survey.questions}">
<!-- call js function -->
<script th:inline="javascript">
  /*<![CDATA[*/
  addQuestionMarkerToMap([[${ question }]], [[${status.index} + 1]]);
  /*]]>*/
</script>
</th:block>
</body>
</html>
