<html layout:decorate="~{layout/layout}">

  <head>
    <title>ADFC - Umfragen</title>
  </head>

  <body layout:fragment="content">

    <div class="d-flex align-items-center justify-space-between">
      <h2 class="my-4 mr-4">Umfragen</h2>
      <input class="form-control" placeholder="Suche">
    </div>
    <div class="table-responsive mb-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Stadt</th>
            <th>Straße</th>
            <th>Title</th>
            <th>Typ</th>
            <th>Erstellungsdatum</th>
            <th>Bestätigungen</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr  th:each="survey: ${surveys}">
           	<td th:text="${survey.address.city + ', ' +survey.address.postcode}"></td>
           	<td th:text="${survey.address.houseNumber!=null}?${survey.address.street + ' ' + survey.address.houseNumber}:${survey.address.street}"></td>
           	<td th:text="${survey.title}"></td>
           	<td th:text="${survey.category}"></td>
           	<td th:text="${survey.createdAtDate}"></td>
           	<td th:text="${#lists.size(survey.confirmedByUsers)}"></td>
            <td>
              <!--<a class="btn btn-sm btn-primary" th:text="${survey.id} + ' anzeigen'" th:href="@{/umfrage(values=${survey.id})}" target="_self"></a>-->
              <a class="btn btn-sm btn-primary" th:href="@{/umfragen/{id}(id=${survey.id})}" target="_self">Anzeigen</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>
