<html layout:decorate="~{layout/layout}" xmlns:th="http://thymeleaf.org">

<head>
  <title>ADFC - Umfrage erstellen</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin="" type="text/javascript"></script>

  <script src="http://bbecquet.github.io/Leaflet.PolylineDecorator/dist/leaflet.polylineDecorator.js" type="text/javascript"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

</head>

<body layout:fragment="content">

  <div id="erstelleUmfrageApp">

    <h2 id="headline" class="my-4">Umfrage erstellen</h2>
    <div class="mb-4" id="mapid" style="width: calc(90vw - 10rem); height: 30vh;"></div>

    <div v-if="zeigeErfolgBenachrichtigung" class="alert alert-success" role="alert">
      <div class="d-flex align-items-center">
        <div>Umfrage erfolgreich erstellt!</div>
        <a class="btn btn-link ml-2" :href="'/umfragen/' + id">Anzeigen</a>
        <button class="btn ml-auto" @click="zeigeErfolgBenachrichtigung=false"><i class="fas fa-times"></i></button>
      </div>
    </div>

    <div v-if="formatierungsFehler" class="alert alert-danger" role="alert">
      {{ formatierungsFehler }}
    </div>

    <div class="card">
      <div class="card-body">
        <form @submit="postUmfrage">
          <div class="row">
            <div class="col border-right">
              <!-- common infos -->
              <div class="form-group">
                <label>Titel</label>
                <input class="form-control" v-model="titel" placeholder="Titel"></input>
              </div>

              <div class="form-group">
                <label>Zeitfenster</label>
                <input type="date" class="form-control mb-2" placeholder="From" v-model="startDatum">
                <input type="date" class="form-control mb-2" placeholder="To" v-model="endDatum">
              </div>

              <div class="form-group">
                <label>Anzahl an Bestätigungen benötigt:</label>
                <input type="number" class="form-control" :placeholder="bestaetigtSchwellenwert"
                  v-model="bestaetigtSchwellenwert">
              </div>

              <div class="form-group">
                <!-- kategorie -->
                <label>Kategorie</label>

                <!-- TODO: write component that can be used recursively -->
                <div v-if="!benutzerdefinierteKategorie">
                  <select class="custom-select mb-2" v-model="kategorie1">
                    <option selected>Kategorie 1</option>
                    <option v-for="option in kategorieOptionen" :value="option">{{ option.text }}</option>
                  </select>

                  <select class="custom-select mb-2" v-if="kategorie1 && kategorie1.unteroptionen" v-model="kategorie2">
                    <option selected>Kategorie 2</option>
                    <option v-for="option in kategorie1.unteroptionen" :value="option">{{ option.text }}</option>
                  </select>

                  <select class="custom-select mb-2" v-if="kategorie2 && kategorie2.unteroptionen" v-model="kategorie3">
                    <option selected>Kategorie 3</option>
                    <option v-for="option in kategorie2.unteroptionen" :value="option">{{ option.text }}</option>
                  </select>
                </div>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" v-model="benutzerdefinierteKategorie" id="benutzerdefinierteKategorieCheckbox">
                  <label class="form-check-label" for="benutzerdefinierteKategorieCheckbox">
                    Benutzerdefinierte Kategorie
                  </label>
                </div>

                <input class="form-control" v-if="benutzerdefinierteKategorie" v-model="benutzerdefinierteKategorieText" placeholder="Kategorie">

              </div>

              <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" v-model="fahrtrichtung" @click="setzeFahrtrichtung()" id="fahrtrichtungCheckbox">
                  <label class="form-check-label" for="fahrtrichtungCheckbox">
                    Fahrtrichtung
                  </label>
                </div>

            </div>

            <div class="col">
              <!-- frage -->
              <div v-for="(frage, index) in fragen">

                <!-- toogle <hr> after first frage -->
                <div v-if="fragen.indexOf(frage) > 0">
                  <hr>
                </div>

                <div class="form-group">
                  <label>Frage #{{ index + 1 }}</label>
                  <input class="form-control" v-model="frage.titel" placeholder="Frage"></input>
                </div>

                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="frage.erlaubeBenutzerdefinierteAntwort"
                      id="erlaubeBenutzerdefinierteAntwortCheckbox">
                    <!--<label class="form-check-label" for="erlaubeBenutzerdefinierteAntwortCheckbox">-->
                      <label class="form-check-label">                  
                      Erlaube Freitext-Antwort
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label>Antwortmöglichkeiten</label>
                  <div v-for="antwortMoeglichkeit in frage.antwortMoeglichkeiten" class="d-flex justify-space-between mb-4">
                    <input class="form-control" v-model="antwortMoeglichkeit.text">
                    <button type="button" class="btn text-danger ml-3" @click="entferneAntwort(frage, antwortMoeglichkeit)">
                      <span><i class="far fa-trash-alt"></i></span>
                    </button>
                  </div>
                  <div class="button-group">
                    <!-- add antwort -->
                    <button type="button" class="btn btn-primary mb-3" @click="fuegeAntwortMoeglichkeitHinzu(frage)"><i
                        class="fas fa-plus"></i></button>
                    <!-- delete antwort -->
                  </div>

                </div>

                <div class="list-group mb-3">
                  <div class="list-group-item" v-for="(bedingung, index) in frage.bedingungen">
                    <div class="d-flex justify-space-between">
                      <div class="form-group mb-0">
                        <label :for="'bedingung-frage' + index">Bedingung: Frage nur zeigen wenn:</label>
                        <select :id="'bedingung-frage' + index" v-model="bedingung.frage">
                          <option default disabled>-</option>
                          <option v-for="frage in fragen" :value="frage">{{ frage.titel }}</option>
                        </select>
                        <label for="'bedingung-antwortMoeglichkeit' + index">mit:</label>
                        <select id="'bedingung-antwortMoeglichkeit' + index" v-if="bedingung.frage"
                          v-model="bedingung.erwarteteAntwort">
                          <option v-for="antwortMoeglichkeit in bedingung.frage.antwortMoeglichkeiten" :value="antwortMoeglichkeit">{{ antwortMoeglichkeit.text }}
                          </option>
                        </select>
                        <label>beantwortet wurde.</label>
                      </div>
                      <div>
                        <!-- delete bedingung -->
                        <button type="button" class="btn text-danger ml-3"
                          @click="entferneBedingung(frage, bedingung)">
                          <span><i class="far fa-trash-alt"></i></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="button-group">
                  <!-- add bedingung -->
                  <button type="button" class="btn btn-primary mb-3" @click="fuegeBedingungHinzu(frage)">Bedingung
                    hinzufügen</button>
                  <!-- add location -->
                  <button type="button" class="btn btn-primary mb-3" @click="fuegeOrtHinzu(frage)"
                    v-if="!frage.marker">Ort
                    hinzufügen</button>
                    <!-- delete location -->
                  <button type="button" class="btn btn-danger mb-3" @click="entferneOrt(frage)"
                    v-if="frage.marker">Ort löschen</button>
                  <!-- delete frage -->
                  <button type="button" class="btn btn-danger mb-3" @click="entferneFrage(frage)">Frage
                    löschen</button>
                </div>

                <div v-if="frage.marker"class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" @click="setzeFahrtrichtung(frage, frage.marker)" v-model="frage.fahrtrichtung">
                      <label class="form-check-label">                  
                      Fahrtrichtung
                    </label>
                  </div>
                </div>

              </div>

              <hr>

              <div class="form-group">
                <!-- add frage -->
                <button type="button" class="btn btn-primary mb-3" @click="fuegeFrageHinzu">Frage hinzufügen</button>
              </div>

            </div>
          </div>

          <!-- create umfrage -->
          <div class="form-group">
            <button type="submit" id="submitButton" class="btn btn-primary">Umfrage erstellen</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- positive modal when data is good -->
  <div class="modal" tabindex="-1" id="positiveModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Senden der Umfrage erfolgreich</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Die Umfrage konnte erfolgreich gesendet werden.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>

  <!-- negative modal when something is missing in data -->
  <div class="modal" tabindex="-1" id="negativeModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Senden der Umfrage fehlgeschlagen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Zum Senden der Umfrage müssen alle Felder ausgefüllt werden und ein Punkte auf der Karte angegeben
            werden.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    const erstelleUmfrageApp = new Vue({
      el: '#erstelleUmfrageApp',
      data: {
        id: null, // is injected as server response, used to open umfrage once created
        umfrage: undefined,
        editierModus: false,
        //id: Math.floor(Math.random() * (100000 - 0 + 1)) + 0,
        titel: '',
        kategorie: '',
        startDatum: null,
        endDatum: null,
        bestaetigtSchwellenwert: 10,
        fragen: [],
        manuellErstellt: true,
        fahrtrichtung: false,

        laengengrad: [[${ laengengrad }?${laengengrad}:0]],
        breitengrad: [[${ breitengrad }?${breitengrad}:0]],

        karte: null,
        hauptMarker: null,
        polyline: null,
        decorator: null,
        drehMarker: null,

        zeigeErfolgBenachrichtigung: false,
        formatierungsFehler: null,

        kategorie1: null,
        kategorie2: null,
        kategorie3: null,
        benutzerdefinierteKategorie: false,
        benutzerdefinierteKategorieText: '',

        kategorieOptionen: [
          {
            id: 1,
            text: 'Hindernis',
            unteroptionen: [
            ],
          },
          {
            id: 2,
            text: 'Fahrbahnoberfläche',
            unteroptionen: [
              {
                id: 3,
                text: 'Verschmutzung',
                unteroptionen: [
                  { id: 4, text: 'Schnee / Glatteis' },
                ],
              },
            ]
          },
          { id: 5, text: 'Verkehrsführung' },
          { id: 6, text: 'Abstellanlage' },
        ],
      },
      mounted() {

        this.umfrage = [(${umfrage}?${umfrage}:'null')]
        if (this.umfrage) {
        	this.id = this.umfrage.id 
          this.editierModus = true;
          console.log(this.umfrage)
          this.umfrage.fragen.forEach((frage) => {
            frage.bedingungen.forEach((bedingung) => {
              bedingung.frage = this.umfrage.fragen.find(f => f.id === bedingung.frageId)

              /*this.umfrage.fragen.forEach((frage1) => {
                frage1.antwortMoeglichkeit
              })*/
              bedingung.erwarteteAntwort = this.umfrage.fragen.find(f => f.antwortMoeglichkeiten.find(moeglichkeit => moeglichkeit.id === bedingung.antwortId))
            })
          })
        }

        if (!this.editierModus) {

          this.setzeDatenZurueck()

          // init popup
          var popup = L.popup();

          // set map depending on whether real koordinaten where given
          // default is somewhat the center of hamburg
          if (this.laengengrad == 0 && this.breitengrad == 0) {
            this.karte = L.map('mapid').setView([53.551086, 9.993682], 12);
          } else {
            this.karte = L.map('mapid').setView([this.laengengrad, this.breitengrad], 16);
          }

          this.setzeKarteZuruek()

          this.initialisiereKarte()
        } else {
          document.getElementById("headline").innerHTML = "Umfrage bearbeiten";
          document.getElementById("submitButton").innerHTML = "Umfrage bearbeiten";
          //this.id = this.umfrage.id
          this.laengengrad = this.umfrage.laengengrad
          this.breitengrad = this.umfrage.breitengrad
          this.karte = L.map('mapid').setView([this.laengengrad, this.breitengrad], 16)

          this.initialisiereKarte()

          var marker = L.marker([this.laengengrad, this.breitengrad]).addTo(this.karte)
          .bindPopup("<b>Ort der Umfrage</b><br/>")
          this.hauptMarker = marker
          this.titel = this.umfrage.titel
          this.kategorie = this.umfrage.kategorie
          this.fragen = this.umfrage.fragen
          this.startDatum = this.umfrage.startDatum
          this.endDatum = this.umfrage.endDatum
          this.bestaetigtSchwellenwert = this.umfrage.bestaetigtSchwellenwert
          this.manuellErstellt = this.umfrage.manuellErstellt
        }
        const self = this
        this.karte.on('click', function (e) {
          const laengengrad = e.latlng.lat
          const breitengrad = e.latlng.lng

          // add marker to map, delete old one
          var marker = L.marker([laengengrad, breitengrad], {
            draggable: true,
            autoPan: true
          }).addTo(self.karte)
          .bindPopup("<b>Hier wird die erstellte Umfrage sein.</b><br/>");

          if (self.hauptMarker) {self.hauptMarker.remove()}
          self.hauptMarker = marker

        })
      },
      created() {
      },
      methods: {
        fuegeFrageHinzu() {
          this.fragen.push({
            titel: '',
            antwortMoeglichkeiten: [
              { text: 'Ja', },
              { text: 'Nein', },
            ],
            bedingungen: [],
            marker: null,
            fahrtrichtung: false,
            pfeillinie: null,
            pfeilspitze: null,
            drehMarker: null,
            erlaubeBenutzerdefinierteAntwort: this.erlaubeBenutzerdefinierteAntwort ? true : false
          })
        },
        // deletes a frage
        entferneFrage(frage) {
          var index = this.fragen.indexOf(frage);
          //console.log(index)
          this.fragen.splice(index, 1);
        },
        // add antwortMoeglichkeit
        fuegeAntwortMoeglichkeitHinzu(frage) {
          frage.antwortMoeglichkeiten.push({ text: '' });
        },
        // delete latest antwortMoeglichkeit in frage.antworten
        entferneAntwort(frage, antwortMoeglichkeit) {
          frage.antwortMoeglichkeiten .splice(frage.antwortMoeglichkeiten.indexOf(antwortMoeglichkeit), 1)
        },
        // add location (green marker) to frage on map,
        // only if frage does not have location already
        fuegeOrtHinzu(frage) {

          var bestehenderMarker = frage.marker;
          if (!bestehenderMarker) {
            var gruenesIcon = new L.Icon({
              iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
              shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
            });
            const index = this.fragen.indexOf(frage) + 1;
            const grenzen = this.karte.getBounds();
            const koordinaten = grenzen.getCenter();
            var marker = L.marker(koordinaten, {
              draggable: true,
              autoPan: true,
              icon: gruenesIcon
            }).addTo(this.karte).bindPopup('<b>Verschieb mich!</b>').openPopup();
            marker.on('dragend', function (event) {
              marker.bindPopup('<b>Ort für Frage ' + index + ' </b>');
            });
            //frage.pfeil = this.fuegeMarkerFahrtrichtungHinzu(koordinaten.lat, koordinaten.lng)
            frage.marker = marker;

            /* if (koordinaten) {
              frage.pfeil = this.fuegeMarkerFahrtrichtungHinzu(koordinaten.getLatLng().lat, koordinaten.getLatLng().lng)
            } */

          } else {
            bestehenderMarker.openPopup();
          }
        },
        // delete marker for frage
        entferneOrt(frage) {
          var marker = frage.marker;
          if (marker) {
            marker.remove();
            frage.marker = null;
            if (frage.pfeillinie) {
              this.entferneFahrtrichtung(frage)
            }
          }
        },
        // add bedingung
        fuegeBedingungHinzu(frage) {
          frage.bedingungen.push({
            frage: null,
            erwarteteAntwort: null,
          })
        },
        // delete bedingung
        entferneBedingung(frage, bedingung) {
          frage.bedingungen.splice(frage.bedingungen.indexOf(bedingung), 1)

        },
        // check if all fragen have at least one antwortMoeglichkeit
        habenAlleFragenAntworten(fragen) {
          const habenAlleFragenAntwortMoeglichkeiten = fragen.filter(q => q.antwortMoeglichkeiten.length > 0).length === fragen.length

          //prüfen, ob Fragen ohne AntwortMoeglichkeit benutzerdefinierte Antworten erlauben
          const fragenOhneAntwortMoeglichkeit = fragen.filter(q => q.antwortMoeglichkeiten.length < 1)
          var erlaubenAlleFragenOhneAntwortMoeglichkeitenBenutzerdefinierteAntworten = true
          fragenOhneAntwortMoeglichkeit.forEach((frage) => {
            if (!frage.erlaubeBenutzerdefinierteAntwort) {
              erlaubenAlleFragenOhneAntwortMoeglichkeitenBenutzerdefinierteAntworten = false
            }
          })
          return habenAlleFragenAntwortMoeglichkeiten || erlaubenAlleFragenOhneAntwortMoeglichkeitenBenutzerdefinierteAntworten

        },
        // check if all fragen have a title
        habenAlleFragenTitel(fragen) {
          return fragen.filter(q => !!q.titel && q.titel.trim().length > 0).length === fragen.length

        },
        setzeKarteZuruek() {
          if (this.hauptMarker) {this.hauptMarker.remove()}
          this.fragen.forEach((frage) => {
            if (frage.marker) {
              frage.marker.remove()
            }
          });

          if (this.laengengrad && this.breitengrad) {
            var marker = L.marker([this.laengengrad, this.breitengrad]).addTo(this.karte)
              .bindPopup("<b>Hier wird die erstellte Umfrage sein.</b><br/>");
            this.hauptMarker = marker
          }
        },
        setzeDatenZurueck() {
          this.titel = ''
          this.kategorie = ''
          this.startDatum = null
          this.endDatum = null
          this.bestaetigtSchwellenwert = 10
          this.fragen = []
          this.manuellErstellt = true
          this.kategorie1 = null
          this.kategorie2 = null
          this.kategorie3 = null
          this.benutzerdefinierteKategorie = false
          this.benutzerdefinierteKategorieText = null
          this.hauptMarker = null
          this.polyline = null
          this.decorator = null

          // initially add first frage
          this.fuegeFrageHinzu()
        },
        postUmfrage(e) {
          e.preventDefault()
          // make post to controller with json data of umfrage

          // data object holding information
          var data = {};
          data = this.sammleDaten(data)
          if (data) {
            if (this.validiereDaten(data)) {
              this.post(data)
            }
          }
        },
        post(data) {
          const getRequest = new XMLHttpRequest();
          getRequest.open("GET", 'https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=' + data.laengengrad + '&lon=' + data.breitengrad);
          getRequest.responseType = "json";
          const self = this;
          // make post with complete json to controller once address is fetched
          getRequest.onload = function (e) {
            console.log(getRequest);
            if (getRequest.status == 200) {
              var adresse = new Object();
              data.adresse = new Object();
              // city is something different depending on the location [CITY, VILLAGE, TOWN]
              if (getRequest.response.address.city != undefined) {
                adresse.stadt = getRequest.response.address.city;
              } else if (getRequest.response.address.village != undefined) {
                adresse.stadt = getRequest.response.address.village;
              } else if (getRequest.response.address.town != undefined) {
                adresse.stadt = getRequest.response.address.town;
              }
              adresse.postleitZahl = getRequest.response.address.postcode;
              adresse.strasse = getRequest.response.address.road;
              adresse.hausnummer = getRequest.response.address.house_number; // not guaranteed to be present!
              data.adresse = adresse;
              self.postJson(data)
            }
          }

          getRequest.send();
        },
        sammleDaten(data) {

          if (!this.editierModus) {

            data.bestaetigtVonBenutzern = []
            data.ersteller = [(${benutzer}?${benutzer}:'null')]
            // get date
            // generate a zeitstempel
            var zeitstempel = Number(new Date())
            var date = new Date(zeitstempel)
            data.erstelltAmDatum = date;
          } else {
            data.bestaetigtVonBenutzern = this.umfrage.bestaetigtVonBenutzern
            data.ersteller = this.umfrage.ersteller
            data.erstelltAmDatum = this.umfrage.erstelltAmDatum
          }

          // get data
          if (this.id) {
            data.id = this.id
          }
          data.bearbeitet = this.editierModus
          data.manuellErstellt = this.manuellErstellt
          data.titel = this.titel;
          data.startDatum = this.startDatum;
          data.endDatum = this.endDatum;
          data.bestaetigtSchwellenwert = this.bestaetigtSchwellenwert;

          // map fragen and expected antwortMoeglichkeit to their indices to avoid circular json
          data.fragen = this.fragen.map((frage) => {
            var rtn = {
              ...frage,
              bedingungen: frage.bedingungen.map((bedingung) => {
                return {
                  frage: bedingung.frage.titel,
                  erwarteteAntwort: bedingung.erwarteteAntwort.text
                }
              })
            }

            if (frage.marker) {
              rtn.laengengrad = frage.marker.getLatLng().lat;
              rtn.breitengrad = frage.marker.getLatLng().lng;
            }

            delete rtn.marker;
            return rtn;
          });

          if (this.benutzerdefinierteKategorie) {
            // creates new kategorie serverside
            data.kategorie = { name: this.benutzerdefinierteKategorieText }

          } else {
            if (!this.kategorie1) {
              this.behandelFehler('Kategorie nicht ausgewählt')
              return false
            }

            // TODO: find kategorie recursively
            data.kategorie = { name: this.kategorie3 ? this.kategorie3.text : this.kategorie2 ? this.kategorie2.text : this.kategorie1.text}

          }

          // TEMPORARY: only string
          //data.kategorie = data.kategorie.name

          console.log('kategorie', data.kategorie)

          if (!this.hauptMarker) {
            this.behandelFehler('Ein Ort muss ausgewählt sein')
            return false
          }

          // get koordinaten of main marker
          data.laengengrad = this.hauptMarker.getLatLng().lat;
          data.breitengrad = this.hauptMarker.getLatLng().lng;
          return data;
        },
        behandelErfolg() {
          this.zeigeErfolgBenachrichtigung = true
          //delete all error modals
          this.formatierungsFehler = null;

          if (!this.editierModus) {


          //reset all fields
          this.setzeDatenZurueck();
          //reset map
          this.setzeKarteZuruek();
          this.laengengrad = null;
          this.breitengrad = null;
          this.karte = null;
          } else {

          }
        },
        behandelFehler(text, typ) {
          if (typ == "server") {
            this.formatierungsFehler = 'Es ist ein Fehler beim kommunizieren mit dem Server aufgetreten.';
            this.zeigeErfolgBenachrichtigung = false;
          } else {
            // show negative modal and hide positive modal
            this.formatierungsFehler = text || 'Alle Felder müssen ausgefüllt werden und ein Punkt auf der Karte angegeben werden. Das Startdatum darf nicht in der Vergangenheit liegen.'
            this.zeigeErfolgBenachrichtigung = false
          }
        },
        postJson(data) {
          const self = this;
          const jsonString = JSON.stringify(data);
          const request = new XMLHttpRequest();
          request.open("POST", "/umfrage-erstellen");
          request.setRequestHeader("Content-Type", "application/json");
          request.send(jsonString);
          request.onload = function (e) {
            if (request.status == 200) {
              self.behandelErfolg();
              self.id = request.response
            } else {
              self.behandelFehler(null, "server");
            }
          }
        },
        validiereDaten(data) {
          //validate data
          //TODO kategorie1 test
          if (data.titel.trim().length === 0) {
            this.behandelFehler('Titel muss ausgefüllt sein')
            return
          }

          if (data.startDatum === null ||
              data.endDatum === null) {
            this.behandelFehler('Das Zeitfenster muss ausgefüllt sein.')
            return
          }

          if (this.startDatum < new Date().toJSON().slice(0, 10) || !data.bearbeitet) {
            this.behandelFehler('Das Startdatum darf nicht in der Vergangenheit liegen.')
            return
          }

          if (this.startDatum > this.endDatum) {
            this.behandelFehler('Das Enddatum darf nicht vor dem Startdatum liegen.')
            return
          }

          if (!data.bestaetigtSchwellenwert ||
            !data.fragen ||
            !this.habenAlleFragenTitel(data.fragen) ||
            !this.habenAlleFragenAntworten(data.fragen) ||
            data.erstelltAmDatum === null) {
            this.behandelFehler()
            return
          }

          // no error: contiue sending request
          console.log('data', data)
          return data;
        },
        initialisiereKarte() {
          // init map
          L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
              '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
              'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
          }).addTo(this.karte);
        },
        fuegeMarkerFahrtrichtungHinzu(lat, lng, initialerWinkel, frage) {
          initialerWinkel = initialerWinkel || Math.PI/4

          const pfeilLaenge = 0.002
          const halbePfeilLaenge = pfeilLaenge / 2
          const drehMarkerOffset = 0.0005

          let gedrehtesX = (Math.cos(initialerWinkel) * halbePfeilLaenge) // - (Math.sin(initialerWinkel) * initialY)
          const gedrehtesY = (Math.sin(initialerWinkel) * halbePfeilLaenge) // + (Math.cos(initialerWinkel) * initialY)

          // skalieren auf der x Achse je nach Winkel um Länge des Pfeils angenähert zu erhalten
          gedrehtesX *= Math.abs(Math.cos(initialerWinkel) * 2)

          let polyline = this.polyline = L.polyline([
            [lat - gedrehtesY, lng - gedrehtesX],
            [lat + gedrehtesY, lng + gedrehtesX],
          ], {
            weight: 2,
          }).addTo(this.karte)

          // this.markers.addLayer(polyline)

          let decorator = L.polylineDecorator(polyline, {
            patterns: [
              { offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({ pixelSize: 20, polygon: false, pathOptions: { stroke: true } }) },
            ]
          }).addTo(this.karte)

          // this.markers.addLayer(decorator)

          const onRotate = (e) => {
            const x = e.latlng.lat - lat
            const y = e.latlng.lng - lng
            const angle = Math.atan2(x, y)

            // rotiere 90° nach links
            if (frage) {
              frage.fahrtrichtung = angle - (Math.PI / 2)
            } else {
              this.fahrtrichtung = angle - (Math.PI / 2)
            }

            // arrow pointing straight right
            const initialX = halbePfeilLaenge
            const initialY = 0.0

            let gedrehtesX = (Math.cos(angle) * initialX) // - (Math.sin(angle) * initialY)
            const gedrehtesY = (Math.sin(angle) * initialX) // + (Math.cos(angle) * initialY)

            // skalieren auf der x Achse je nach Winkel um Länge des Pfeils angenähert zu erhalten
            gedrehtesX *= Math.abs(Math.cos(angle) * 2)

            // console.log('length after rotate', Math.sqrt(Math.pow(gedrehtesX, 2) + Math.pow(gedrehtesY, 2)))

            const newStart = [
              lat - gedrehtesY,
              lng - gedrehtesX,
            ]

            const newEnd = [
              lat + gedrehtesY,
              lng + gedrehtesX,
            ]

            polyline.setLatLngs([newStart, newEnd])

            this.karte.removeLayer(decorator)
            decorator = L.polylineDecorator(polyline, {
              patterns: [
                { offset: '100%', repeat: 0, symbol: L.Symbol.arrowHead({ pixelSize: 20, polygon: false, pathOptions: { stroke: true } }) },
              ]
            }).addTo(this.karte)
          }

          let drehMarker

          const fuegeDrehmarkerHinzu = () => {
            var gelbesIcon = new L.Icon({
              iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
              shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
            });
            drehMarker = L.marker([lat + halbePfeilLaenge + drehMarkerOffset, lng + halbePfeilLaenge + drehMarkerOffset], {
              draggable: true,
              autoPan: false,
              icon: gelbesIcon
            }).addTo(this.karte).on('drag', onRotate)
            if (frage) {
              frage.drehMarker = drehMarker
            } else {
              this.drehMarker = drehMarker
            }
          }
          fuegeDrehmarkerHinzu()

          if (frage) {
            frage.pfeillinie = polyline
            frage.pfeilspitze = decorator
          } else {
            this.polyline = polyline
            this.decorator = decorator
          }
          return polyline
        },
        entferneFehlermeldung() {
          this.formatierungsFehler = null
        },
        setzeFahrtrichtung(frage, marker) {
          if (!marker) { //soll wohl der hauptMarker sein
            if (this.hauptMarker) {
              if (!this.fahrtrichtung) {
                const markerKoordinaten = this.hauptMarker.getLatLng()
                this.fuegeMarkerFahrtrichtungHinzu(markerKoordinaten.lat, markerKoordinaten.lng, 0)
              } else {
                this.entferneFahrtrichtung()
              }
            } else {
              //hauptMarker nicht gesetzt
              this.behandelFehler('Es muss ein Ort ausgewählt sein um eine Fahrtrichtung zu setzen.')
              var self = this
              setInterval(function(){self.entferneFehlermeldung()},3000);
            }
          } else {
            if (frage.pfeillinie) {
              this.entferneFahrtrichtung(frage)
            } else {
              this.fuegeMarkerFahrtrichtungHinzu(marker.getLatLng().lat, marker.getLatLng().lng, 0, frage)
            }
          }

        },
        entferneFahrtrichtung(frage) {
          if (!frage) {
            this.polyline.remove()
            this.decorator.remove()
            this.drehMarker.remove()
          } else {
            frage.pfeillinie.remove()
            frage.pfeillinie = null
            frage.pfeilspitze.remove()
            frage.pfeilspitze = null
            frage.drehMarker.remove()
            frage.drehMarker = null
          }
        },
      },
    })
  </script>
</body>

</html>