<html layout:decorate="~{layout/layout}">

<head>
<title>Befragungen</title>
</head>

<body layout:fragment="content">
	<h2 class="my-4">Befragungen</h2>

	<div class="card w-80 my-2" th:if="${#lists.isEmpty(befragungen)}">
		<div class="card-body text-center text-muted">Hmm ganz schön
			leer hier</div>
	</div>

	<div class="card w-80 my-2" th:unless="${#lists.isEmpty(befragungen)}"
		th:each="befragung : ${befragungen}">
		<div class="card-body row align-items-center" style="height: 300px;">
			<div class="col-4 text-center text-muted">Map here</div>
			<div class="col border-left border-right">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div
							class="w-100 d-flex justify-content-between align-items-center">
							<span>Ersteller:</span> <span th:text="${befragung.ersteller}"></span>
						</div>
					</li>
					<li class="list-group-item">
						<div
							class="w-100 d-flex justify-content-between align-items-center">
							<span>Anzahl Fragen:</span> <span
								th:text="${befragung.anzahlFragen}"></span>
						</div>
					</li>
					<li class="list-group-item">
						<div
							class="w-100 d-flex justify-content-between align-items-center">
							<span>Anzahl Beantwortungen:</span><span> <span
								th:text="${befragung.anzahlAntworten}"></span> / <span
								th:text="${befragung.bestaetigungsSchwellenwert}"></span></span>
						</div>
					</li>
					<li class="list-group-item">
						<div
							class="w-100 d-flex justify-content-between align-items-center">
							<span>Generiert aus:</span> <span><span
								class="badge badge-info" th:if="${befragung.istAusMeldung}">Meldung</span>
								<span class="badge badge-info"
								th:if="${befragung.istAusUmfrage}">Umfrage</span></span>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-2 align-self-start">
				<a class="btn btn-primary my-1 w-100 text-white"
					th:href="@{'/befragungen/' + ${befragung.id}}">Anzeigen</a> <a
					class="btn btn-danger my-1 w-100 text-white"
					th:unless="${befragung.isDisabled}">Deaktivieren</a> <a
					class="btn btn-success my-1 w-100 text-white"
					th:if="${befragung.isDisabled}">Aktivieren</a>
			</div>
		</div>
	</div>
</body>
</html>