<html layout:decorate="~{layout/layout}">

  <head>
    <title>ADFC - Meldungen</title>
  </head>

  <body layout:fragment="content">

    <div class="d-flex align-items-center justify-space-between">
      <h2 class="my-4 mr-4">Meldungen</h2>
      <input class="form-control" placeholder="Suche">
    </div>
    <!-- Tabelle mit allen Meldungen, wird mit Thymeleaf generiert -->
    <div class="table-responsive mb-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Umfrage</th>
            <th>Fahrtrichtung</th>
            <th>Text</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr  th:each="meldung: ${meldungen}">
            <td th:text="${meldung.umfrage}"></td>
            <td th:text="${meldung.fahrtrichtung}"></td>
            <td th:text="${umfrage.text}"></td>
            <td>
              <a class="btn btn-sm btn-primary" th:href="@{/meldungen/{id}(id=${meldung.id})}" target="_self">Anzeigen</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>
