<html layout:decorate="~{layout/layout}">

<head>
<title>Meldungen</title>
</head>

<body layout:fragment="content">

	<h2 class="my-4 mr-4">Meldungen</h2>

	<div class="card w-80 my-2" th:if="${#lists.isEmpty(meldungen)}">
		<div class="card-body text-center text-muted">Hmm ganz schön
			leer hier</div>
	</div>

	<div class="card w-80 my-2" th:unless="${#lists.isEmpty(meldungen)}"
		th:each="meldung : ${meldungen}">
		<div class="card-body row align-items-center" style="height: 300px;">
			<div class="col-4 text-center text-muted">Map here</div>
			<div class="col border-left border-right">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div
							class="w-100 d-flex justify-content-between align-items-center">
							<span>Ersteller: </span><span th:text="${meldung.ersteller}"></span>
						</div>
					</li>
					<li class="list-group-item">
						<div
							class="w-100 d-flex justify-content-between align-items-center">
							<span>Erstellt am:</span> <span th:text="${meldung.createdAt}"></span>
						</div>
					</li>
					<li class="list-group-item">
						<div
							class="w-100 d-flex justify-content-between align-items-center">
							<span>Kategorie: </span><span th:text="${meldung.kategorie}"></span>
						</div>
					</li>
					<li class="list-group-item">
						<div class="w-100">
							<div>Meldung:</div>
							<span th:text="${meldung.text}"></span>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-2 align-self-start">
				<a class="btn btn-primary my-1 w-100 text-white">Befragung
					anzeigen</a>
			</div>
		</div>
	</div>

</body>
</html>
